.App {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.search {
    margin-left: 200px;
}

.App input {
    width: 220px;
    height: 40px;
    border: 1px solid #C57136;
    border-radius: 10px;
    font-size: 18px;
    padding-left: 10px;
}

.search button {
    border: 1px solid orangered;
    background-color: #C57136;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    margin-left: 10px;
}

.item {
    display: flex;
    justify-content: space-between;
    width: 700px;
    border-bottom: 1px solid lightgray;
    padding: 20px;
}

.item div {
    display: flex;
    align-items: center;
}

.temp {
    background-color: gray;
    border-radius: 10px;
    color: white;
    width: 80px;
    text-align: center;
    font-size: 14px;
    margin-right: 30px;
}

.desc {
    font-style:italic 
}

.right {
    display: flex;
    flex-direction: column;
    color: rgb(95, 92, 92);
}

.right > div {
    margin-bottom: 5px;
}

.bottom span {
    margin-right: 5px;
}

.day {
    display: flex;
    align-items: center;
    padding-left: 20px;
    border: 1px solid lightgray;
    background-color: rgb(245, 245, 245);
    height: 40px;
    width: 720px;
}

.error {
    font-size: 30px;
    color: darkblue;
    align-self: center;
    width: 700px;
    margin-top: 100px;
}